<section class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="mb-5">
          <div class="text-center mb-4">
            <a href="#!">
              <img src="./assets/images/icon-login.png" alt="LongDrink Logo" width="100" height="120">
            </a>
          </div>
          <h4 class="text-center mb-4">Inicio de Sesión</h4>
        </div>
        <div class="card border border-light-subtle rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <form method="POST" (submit)="onSubmit($event)">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating ">
                    <input type="email" class="form-control" name="email" id="email" placeholder="email@dominio.com" required autocomplete="email" [formControl]="emailCtrl">
                    <label for="email" class="form-label">Email</label>
                  </div>
                  <span class="fw-lighter text-center mb-3 text-danger" [class.invisible]="!validatingEmail()">Ups! Correo electrónico no valido.</span>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required autocomplete="current-password" [formControl]="passwordCtrl">
                    <label for="password" class="form-label">Contraseña</label>
                  </div>
                  <span class="fw-lighter text-center mb-3 text-danger" [class.invisible]="!validatingPassword()">Ups! Contraseña no valida.</span>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg bg-gradient fw-bold" type="submit">Iniciar Sesión</button>
                  </div>
                </div>
                <span class="fw-lighter text-center text-danger">{{formError}}</span>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-4">
          <a href="#!" class="link-secondary text-decoration-none">¿Olvidó su contraseña?</a>
        </div>
      </div>
    </div>
  </div>
</section>
