<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <div class="container text-center mt-3 mb-3">
                <img src="./assets/images/Logo_Color.png" alt="LongDrink Logo" width="120" height="50">
                <hr>
              </div>
              @if(loaded && user.rol.nombre == "ADMINISTRADOR"){
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li>
                      <a [routerLink]="['/a']" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="bi bi-house-fill fs-4"></i><span class="ms-1 d-none d-sm-inline">Inicio</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                          </li>
                      </ul>
                  </li>

                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                        <i class="bi bi-people-fill fs-4"></i> <span class="ms-1 d-none d-sm-inline">Alumnos</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                          </li>
                      </ul>
                  </li>

                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="bi bi-book-fill fs-4"></i> <span class="ms-1 d-none d-sm-inline">Cursos</span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                          </li>
                      </ul>
                  </li>

                  <li>
                    <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="bi bi-backpack-fill fs-4"></i> <span class="ms-1 d-none d-sm-inline">Secciones</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                        </li>
                    </ul>
                </li>

                <li>
                  <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="bi bi-person-workspace fs-4"></i> <span class="ms-1 d-none d-sm-inline">Docentes</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                      </li>
                  </ul>
              </li>

              <li>
                <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <i class="bi bi-file-earmark-spreadsheet-fill fs-4"></i> <span class="ms-1 d-none d-sm-inline">Reportes</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                    </li>
                </ul>
            </li>
              </ul>
            }
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle" style="font-size: 30px;"></i>
                      <span class="d-none d-sm-inline mx-1 text-uppercase fw-bold">@if(loaded){ {{user.nombre_usuario}} }</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" [routerLink]="['/a','profile']">Mi Perfil</a></li>
                      <li><a class="dropdown-item" href="#">Configuración</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" (click)="signOut()">Cerrar Sesión</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
