<div class="container">
  <div class="card me-5 ms-5 mt-5 border-black">
    <div class="card-body">
      <div class="row mt-3 ms-2 me-2">
        <div class="col">
          <h3>Contratar Docente</h3>
          <hr>
        </div>
      </div>

      <div class="row ms-2 me-2">
        <p class="fw-lighter">El siguiente formulario permite el almacenamiento de la información de contrato de un docente. Al guardar los datos, se creará automáticamente una cuenta de usuario para el nuevo docente. <br>Los datos de la misma serán enviados al correo electrónico ingresado. Terminado el proceso, usted podrá asignar al docente a una sección.</p>
      </div>

      <div class="row ms-2 me-2">
        <div class="col">
          <h5>Información del Docente</h5>
        </div>
      </div>
      <form [formGroup]="hireTeacherForm">
      <div class="row ms-2 me-2 mt-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="nombresCtrl" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="nombresCtrl" placeholder="Carlos Alfonso" formControlName="nombresCtrl" maxlength="50">
            @if(f['nombresCtrl'].errors && submitted){
              <span class="fw-lighter text-center mb-3 text-danger">El nombre debe tener un máximo de 50 caracteres y solo contener letras.<br></span>
            }
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="apellidoPCtrl" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="apellidoPCtrl" placeholder="Villanueva" formControlName="apellidoPCtrl" maxlength="25">
            @if(f['apellidoPCtrl'].errors && submitted){
              <span class="fw-lighter text-center mb-3 text-danger">El apellido paterno debe tener un máximo de 25 caracteres y solo contener letras.<br></span>
            }
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="apellidoMCtrl" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" id="apellidoMCtrl" placeholder="Tovar" formControlName="apellidoMCtrl" maxlength="25">
            @if(f['apellidoMCtrl'].errors && submitted){
              <span class="fw-lighter text-center mb-3 text-danger">El apellido materno debe tener un máximo de 25 caracteres y solo contener letras.<br></span>
            }
          </div>
        </div>

      </div>

      <div class="row ms-2 me-2">
        <div class="col-4">
          <div class="mb-3">
            <label for="dniCtrl" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dniCtrl" placeholder="01234567" formControlName="dniCtrl" maxlength="8">
            @if(f['dniCtrl'].errors && submitted){
              <span class="fw-lighter text-center mb-3 text-danger">El DNI debe tener un máximo de 8 digitos.<br></span>
            }
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="celularCtrl" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celularCtrl" placeholder="999888777" formControlName="celularCtrl" maxlength="9">
            @if(f['celularCtrl'].errors && submitted){
              <span class="fw-lighter text-center mb-3 text-danger">El celular debe tener un máximo de 9 digitos.<br></span>
            }
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="fechaContratoCtrl" class="form-label">Fecha de Contratación</label>
            <input type="date" class="form-control" id="fechaContratoCtrl" formControlName="fechaContratoCtrl">
            @if(f['fechaContratoCtrl'].errors && submitted || validateHiringDate()){
              <span class="fw-lighter text-center mb-3 text-danger">La fecha de contratación debe ser anterior al día actual.<br></span>
            }
          </div>
        </div>

      </div>

      <div class="row ms-2 me-2">
        <div class="col-4">
          <div class="mb-3">
            <label for="emailCtrl" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="emailCtrl" placeholder="email@dominio.com" formControlName="emailCtrl" maxlength="80">
            @if(f['emailCtrl'].errors && submitted){
              <span class="fw-lighter text-center mb-3 text-danger">El correo electrónico debe tener un máximo de 80 carácteres.<br></span>
            }
          </div>
        </div>

        <div class="col-8 text-end mt-4 pt-2">
          <button class="btn btn-success bg-gradient fw-bold" (click)="onSubmit()">GUARDAR</button>
          <button class="btn btn-dark bg-gradient fw-bold ms-3" type="reset" (click)="unsubmitForm()">LIMPIAR</button>
        </div>

      </div>
    </form>
    </div>
  </div>
</div>
